.link {
  color: $base-color;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;

  @media (max-width: 360px) {
    height: 100%;
  }
}

.main-container {
  width: 630px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 360px) {
    width: 330px;
  }
}
